:root {
    --bg-color: #e5e5e5;
    --inverted-bg-color: #0f4572;
    --primary-color: #00376e;
    --secondory-color: #1a4165;
    --inverted-primary-color: #e5e5e5;
    --inverted-secondory-color: #92bbbb;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
