.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: flex-end;
}

.links,
.dropdown,
.notification {
    display: flex;
    align-items: center;
}

.mainLink {
    margin-right: 15px;
}
